# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# Base de datos
*.db
*.sqlite3

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de datos
data/
uploads/

# Otros
node_modules/
.coverage
htmlcov/
.pytest_cache/ 